.game-board {
    display: grid;
    grid-template-columns: repeat(9, 3em);
    grid-template-rows: repeat(9, 3em);
    border: 1px solid black;
    margin-top: 2em;
    padding: 2em;
}

.big-square {
    border: 1px solid red;
}

.small-square {
    border: 1px solid grey;
}