<div class="todo-boxes-container">
    {% for todo in todos %}
    <div class="todo-box">
        <div class="todo-activity">
            {{ todo.activity}}
        </div>
        <div class="todo-duedatetime">
            {{ todo.due_datetime }}
        </div>
        <a href="{{ url_for('todo.delete', todo_id=todo.id) }}">
            Delete
        </a>
        {% if todo.status %}
        <div class="expired {{ todo.id }}">
            {{  todo.status }}
        </div>
        {% endif %}
        <div>
            Next datetime: {{todo.next_datetime}}
        </div>
        <form action="{{ url_for('todo.done') }}" method="post">
            <div class="buttons-square">
                <input type="submit" name="done-btn" value="{{ todo.id }}" id="{{ todo.id }}">
            </div>
        </form>
    </div>
    {% endfor %}
</div>